---
let {post} = Astro.props
---
<article class="flex items-center py-4 border-b border-gray-200">
    <div>
        <header>
            <h2 class="h4 mb-2">
                <a class="hover:underline" href={post.url}>{post.title}</a>
            </h2>
        </header>
        <div class="text-lg text-gray-600 mb-4">
            {post.description}
        </div>
        <footer class="text-sm">
            <div class="flex items-center">
                <div class="flex shrink-0 mr-3">
                    <a class="relative" href="#0">
                        <span class="absolute inset-0 -m-px" aria-hidden="true"><span class="absolute inset-0 -m-px bg-white rounded-full"></span></span>
                        <img class="relative rounded-full" src="/cruip-simple/images/news-author-04.jpg" width="32" height="32" alt="Author 04" />
                    </a>
                </div>
                <div>
                    <span class="text-gray-600">By </span>
                    <a class="font-medium hover:underline" href="#0">{post.author</a>
                    <span class="text-gray-600"> · July 20, 2020</span>
                </div>
            </div>
        </footer>
    </div>
    <a class="block shrink-0 ml-6" href={post.url}>
        <span class="sr-only">Read more</span>
        <svg class="w-4 h-4 fill-current text-blue-600" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.3 14.7l-1.4-1.4L12.2 9H0V7h12.2L7.9 2.7l1.4-1.4L16 8z" />
        </svg>
    </a>
</article>